<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
	id="WebApp_ID" version="6.0">
	<display-name>QuizeManagement</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>RegisterServlet</display-name>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>servlets.RegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/RegisterServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>servlets.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ApprovedUserServlet</display-name>
		<servlet-name>ApprovedUserServlet</servlet-name>
		<servlet-class>servlets.ApprovedUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ApprovedUserServlet</servlet-name>
		<url-pattern>/ApprovedUserServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DeclineUserServlet</display-name>
		<servlet-name>DeclineUserServlet</servlet-name>
		<servlet-class>servlets.DeclineUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeclineUserServlet</servlet-name>
		<url-pattern>/DeclineUserServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>MakeAdminServlet</display-name>
		<servlet-name>MakeAdminServlet</servlet-name>
		<servlet-class>servlets.MakeAdminServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MakeAdminServlet</servlet-name>
		<url-pattern>/MakeAdminServlet</url-pattern>
	</servlet-mapping>
	<filter>
		<display-name>CurrentUserFilter</display-name>
		<filter-name>CurrentUserFilter</filter-name>
		<filter-class>filters.CurrentUserFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CurrentUserFilter</filter-name>
		<url-pattern>/ChangePasswordServlet</url-pattern>
		<url-pattern>/LogoutServlet</url-pattern>
	</filter-mapping>
	<filter>
		<display-name>AdminFilter</display-name>
		<filter-name>AdminFilter</filter-name>
		<filter-class>filters.AdminFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AdminFilter</filter-name>
		<url-pattern>/admin/*</url-pattern>
		<url-pattern>/ApprovedUserServlet</url-pattern>
		<url-pattern>/DeclineUserServlet</url-pattern>
		<url-pattern>/MakeAdminServlet</url-pattern>
		<url-pattern>/RemoveAdminServlet</url-pattern>
		<url-pattern>/ApprovedAllStudent</url-pattern>
		<url-pattern>/ApprovedExamServlet</url-pattern>
	</filter-mapping>
	<filter>
		<display-name>TeacherFilter</display-name>
		<filter-name>TeacherFilter</filter-name>
		<filter-class>filters.TeacherFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>TeacherFilter</filter-name>
		<url-pattern>/teacher/*</url-pattern>
		<url-pattern>/AddToQuestionSetServlet</url-pattern>
		<url-pattern>/CreateExamServlet</url-pattern>
		<url-pattern>/CreateQuestionServlet</url-pattern>
		<url-pattern>/CreateQuestionSetServlet</url-pattern>
		<url-pattern>/DeleteExamServlet</url-pattern>
		<url-pattern>/DeleteQuestionServlet</url-pattern>
		<url-pattern>/DeleteQuestionSetServlet</url-pattern>
		<url-pattern>/EditExamServlet</url-pattern>
		<url-pattern>/RemoveToQuestionSetServlet</url-pattern>
		<url-pattern>/UpdateQuestionServlet</url-pattern>
	</filter-mapping>
	<filter>
		<display-name>StudentFilter</display-name>
		<filter-name>StudentFilter</filter-name>
		<filter-class>filters.StudentFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>StudentFilter</filter-name>
		<url-pattern>/student/*</url-pattern>
		<url-pattern>/EvaluateExamServlet</url-pattern>
	</filter-mapping>
	<servlet>
		<description></description>
		<display-name>LogoutServlet</display-name>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>servlets.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/LogoutServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>RemoveAdminServlet</display-name>
		<servlet-name>RemoveAdminServlet</servlet-name>
		<servlet-class>servlets.RemoveAdminServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemoveAdminServlet</servlet-name>
		<url-pattern>/RemoveAdminServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>VerifyCodeServlet</display-name>
		<servlet-name>VerifyCodeServlet</servlet-name>
		<servlet-class>servlets.VerifyCodeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VerifyCodeServlet</servlet-name>
		<url-pattern>/VerifyCodeServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ResentCodeServlet</display-name>
		<servlet-name>ResentCodeServlet</servlet-name>
		<servlet-class>servlets.ResentCodeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResentCodeServlet</servlet-name>
		<url-pattern>/ResentCodeServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SentForgotPassword</display-name>
		<servlet-name>SentForgotPassword</servlet-name>
		<servlet-class>servlets.SentForgotPassword</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SentForgotPassword</servlet-name>
		<url-pattern>/SentForgotPassword</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ForgotePasswordSentCodeServlet</display-name>
		<servlet-name>ForgotePasswordSentCodeServlet</servlet-name>
		<servlet-class>servlets.ForgotePasswordSentCodeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ForgotePasswordSentCodeServlet</servlet-name>
		<url-pattern>/ForgotePasswordSentCodeServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ForgotePasswordCheckCodeServlet</display-name>
		<servlet-name>ForgotePasswordCheckCodeServlet</servlet-name>
		<servlet-class>servlets.ForgotePasswordCheckCodeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ForgotePasswordCheckCodeServlet</servlet-name>
		<url-pattern>/ForgotePasswordCheckCodeServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>CreateQuestionServlet</display-name>
		<servlet-name>CreateQuestionServlet</servlet-name>
		<servlet-class>servlets.CreateQuestionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateQuestionServlet</servlet-name>
		<url-pattern>/CreateQuestionServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>UpdateQuestionServlet</display-name>
		<servlet-name>UpdateQuestionServlet</servlet-name>
		<servlet-class>servlets.UpdateQuestionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateQuestionServlet</servlet-name>
		<url-pattern>/UpdateQuestionServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>CreateQuestionSetServlet</display-name>
		<servlet-name>CreateQuestionSetServlet</servlet-name>
		<servlet-class>servlets.CreateQuestionSetServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateQuestionSetServlet</servlet-name>
		<url-pattern>/CreateQuestionSetServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>test</display-name>
		<servlet-name>test</servlet-name>
		<servlet-class>servlets.test</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>test</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AddToQuestionSetServlet</display-name>
		<servlet-name>AddToQuestionSetServlet</servlet-name>
		<servlet-class>servlets.AddToQuestionSetServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddToQuestionSetServlet</servlet-name>
		<url-pattern>/AddToQuestionSetServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>RemoveToQuestionSetServlet</display-name>
		<servlet-name>RemoveToQuestionSetServlet</servlet-name>
		<servlet-class>servlets.RemoveToQuestionSetServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemoveToQuestionSetServlet</servlet-name>
		<url-pattern>/RemoveToQuestionSetServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DeleteQuestionServlet</display-name>
		<servlet-name>DeleteQuestionServlet</servlet-name>
		<servlet-class>servlets.DeleteQuestionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteQuestionServlet</servlet-name>
		<url-pattern>/DeleteQuestionServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DeleteQuestionSetServlet</display-name>
		<servlet-name>DeleteQuestionSetServlet</servlet-name>
		<servlet-class>servlets.DeleteQuestionSetServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteQuestionSetServlet</servlet-name>
		<url-pattern>/DeleteQuestionSetServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>CreateExamServlet</display-name>
		<servlet-name>CreateExamServlet</servlet-name>
		<servlet-class>servlets.CreateExamServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateExamServlet</servlet-name>
		<url-pattern>/CreateExamServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>EditExamServlet</display-name>
		<servlet-name>EditExamServlet</servlet-name>
		<servlet-class>servlets.EditExamServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditExamServlet</servlet-name>
		<url-pattern>/EditExamServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DeleteExamServlet</display-name>
		<servlet-name>DeleteExamServlet</servlet-name>
		<servlet-class>servlets.DeleteExamServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteExamServlet</servlet-name>
		<url-pattern>/DeleteExamServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>EvaluateExamServlet</display-name>
		<servlet-name>EvaluateExamServlet</servlet-name>
		<servlet-class>servlets.EvaluateExamServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EvaluateExamServlet</servlet-name>
		<url-pattern>/EvaluateExamServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ApprovedExamServlet</display-name>
		<servlet-name>ApprovedExamServlet</servlet-name>
		<servlet-class>servlets.ApprovedExamServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ApprovedExamServlet</servlet-name>
		<url-pattern>/ApprovedExamServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ApprovedAllStudent</display-name>
		<servlet-name>ApprovedAllStudent</servlet-name>
		<servlet-class>servlets.ApprovedAllStudent</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ApprovedAllStudent</servlet-name>
		<url-pattern>/ApprovedAllStudent</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ChangePasswordServlet</display-name>
		<servlet-name>ChangePasswordServlet</servlet-name>
		<servlet-class>servlets.ChangePasswordServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChangePasswordServlet</servlet-name>
		<url-pattern>/ChangePasswordServlet</url-pattern>
	</servlet-mapping>
</web-app>